.navbar-laravel {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: black !important;
}

.nav-link {
  color: black !important;
}


body {
  background-color: #ffffff;
  color: #000;
}

.posts {
      margin:0 auto;
      width: 1000px;
      height: 500px;
  .post {
    .date {
      // font-size: 0.6em;
    }
    .title {
      font-size: 0.8em;
      // font-weight: bold;
    }
    .body {
      font-size: 0.8em;
    }
    .image {
      img {
      width: 400px;
      height: 400px;
      }
    }
  }
}