.navbar-laravel {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-brand {
  color: black !important;
}

.nav-link {
  color: black !important;
}

body {
  background-color: #ffffff;
  color: #000;
}

.posts {
  margin: 0 auto;
  width: 1000px;
  height: 500px;
}

.posts .post .title {
  font-size: 0.8em;
}

.posts .post .body {
  font-size: 0.8em;
}

.posts .post .image img {
  width: 400px;
  height: 400px;
}

