body {
  background-color: #ffffff;
  color: #000;
}

.posts {
  margin: 0 auto;
  width: 1000px;
  height: 500px;
}

.posts .post .title {
  font-weight: bold;
}

.posts .post .body {
  font-size: 0.8em;
}

.posts .post .image img {
  width: 400px;
  height: 400px;
}

